/* 全局设置与布局 */
html, body {
	background-color: #eee;
}

body {
	font-family: 'Hiragino Sans GB', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 15px;
	line-height: 30px;
}
.page-header {
	background-color: #f5f5f5;
	padding: 20px 20px 10px;
	margin: -20px -20px 20px;
}
.navbar, .container {
	width: 640px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0;
	*zoom: 1;
}
.container > footer p {
	font-size: 13px;
	text-align: center; 
}
.wrapper {
	background-color: #fff;
	margin: 10px 0px 20px 0px;
	padding: 10px 20px;
	-moz-border-radius: 5px;
	-webkit-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0px 1px 3px #A8ABAB;
	-moz-box-shadow: 0px 1px 3px #A8ABAB;
	box-shadow: 0px 1px 3px #A8ABAB;
}


.fixed-wrapper {
	height: 400px;
	overflow: scroll;
}

/* 覆盖bootstrap，设置字号，更适合中文 */
h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
	margin: 0;
	text-rendering: optimizelegibility;
}
h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
	font-weight: normal;
}
h1 {
	line-height: 60px;
	font-size: 24px;
}
h1 small {
	font-size: 16px;
}
h2 {
	font-size: 20px;
	line-height: 35px;
	background-color: #F2F8F7;
	margin: 20px -20px;
	padding: 0px 20px;
}
h2 small {
	font-size: 18px;
}
h3 {
	line-height: 18px;
	font-size: 18px;
}
h3 small {
	font-size: 14px;
}
h4, h5, h6 {
	line-height: 15px;
}
h4 {
	font-size: 14px;
}
h4 small {
	font-size: 12px;
}
h5 {
	font-size: 12px;
}
h6 {
	font-size: 11px;
	color: #999;
	text-transform: uppercase;
}
p { 
	margin: 0 0 14px;
	font-family: 'Hiragino Sans GB', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 15px;
	line-height: 30px;
}
p small {
	font-size: 13px;
}

/* 设置图片 */
img {
	max-width: 640px;
	height: auto;
	border: 0;
	-ms-interpolation-mode: bicubic;
}
.wrapper p img {
	clear: both;
	display: block;
	margin-left: -20px;
	margin-right: -20px;
}

/* 设置超链接 */
a:focus {
	outline: thin dotted;
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px;
}
a:active {
	outline: 0;
}
a:hover {
	outline: 0;
	text-decoration: none;
}
p a {
	border-bottom: 1px dashed #CED1D1;
}
.nav > a {
	margin: 0px 20px 0px 0px;
}

/* 设置列表 */
ul, ol {
	padding: 0;
	margin: 0 0 0px 25px;
}
ul ul, ul ol, ol ol, ol ul {
	margin-bottom: 0;
}
li {
	line-height: 30px;
}
ul {
	list-style: disc;
}
ol {
	list-style: decimal;
}
ul.unstyled {
	margin-left: 0;
	list-style: none;
}
dl {
	margin-bottom: 30px;
}
dt, dd {
	line-height: 30px;
}
dt {
	font-weight: bold;
}
dd {
	margin-left: 14px;
}

/* 修改bootstrap，设置markdown特殊标签的样式 */
hr {
	margin: 30px 0;
}
article hr {
	margin: 10px 0;
}
address {
	line-height: 30px;
}
pre { 
	line-height: 20px;
}
blockquote p { 
	font-size: 14px;
}

blockquote.pull-right {
	float: right;
	padding-left: 0;
	padding-right: 14px;
	border-left: 0;
	border-right: 5px solid #eee;
}
blockquote.pull-right p, blockquote.pull-right small {
	text-align: right;
}
q:before, q:after, blockquote:before, blockquote:after {
	content: ""
}

/* 设置列表展示样式 */
.postsList {
	margin: 0;
}
.postsList li {
	list-style: none;
	padding: 5px 3px;
	margin: 0;
	border-bottom: 1px solid #eee;
}
.postsList li span {
	float: right;
	font-size: 14px;
}

/* 设置标签条 */
.tag_box {
	list-style: none;
	margin: 0;
	padding: 5px 0;
	overflow: hidden;
}
.tag_box.inline li {
	float: left;
}
.tag_box li {
	font-size: 14px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	padding: 2px 10px;
	margin: 4px;
	background: #eee;
	border-radius: 3px;
	text-decoration: none;
	line-height: normal;
}
.tag_box li span {
	display: inline-block;	
	font-weight: bold;
	color: #005580;
	background-color: #fff;
	padding: 0px 5px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	vertical-align: 2px;
	font-size: 10px;
}